*.json

# Ignore build directory
build/
Links/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build artifacts
CMakeFiles/
*.cmake
*.rsp
*.marks
*.make
*.ts
*.internal
*.log

# Ignore logs
logs/*.txt

# Ignore temporary files
*.tmp

# Ignore IDE-specific files
*.vscode/
*.idea/
